name: Nohost CI/CD

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  DOCKERHUB_REPO: lostpaddle/nohost
  
jobs:
  build-nohost-image:
    runs-on: ubuntu-latest
    # 开启 Docker 构建缓存和多平台支持
    if: github.event_name == 'push' && github.ref == 'refs/heads/master' # 仅在master分支推送时执行

    steps:
      # 步骤1：检出代码（包含 Dockerfile 的仓库）
      - name: Checkout Repository
        uses: actions/checkout@v4

      # 步骤2：设置 Docker Buildx（支持多平台构建、缓存）
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          
      - name: Build and Push
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ${{ env.DOCKERHUB_REPO }}:latest
